body {
  background-color: white;
  font-family: sans-serif;
}

.land {
  fill: #dddddd;
  opacity: 0.6;
}

.border {
  fill: none;
  stroke-width: 1px;
  stroke: white;

}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.place {
  fill: white;
  opacity: 0.5;
  stroke: #252525;
}

.trip {
  fill: none;
  stroke: #252525;
  stroke-width: 2;
  stroke-opacity: 0.5;
}
.bars:hover{
  opacity: 0.7;
}

.piePart:hover{
  opacity: 0.7;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

g#voronoi {
  pointer-events: all;
}

/* shadow trick from bl.ocks.org */
#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

#timeline {
  float: left;
}
#pieChart {
  float: left;
}

#SemanticInfo {
 width: 400;
 height: 200;
 float: left;
}

#mapboxx { 
  position:relative; 
  width: 900;
  height: 400;
}
